<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movie Library</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/modifyMovie.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Main page </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/addMovie">Add movie <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/modifyMovie">Modify movie <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <hr>
    <h1>Modify Movie</h1>
    <section id="select-title-section">
        <label for="title">Select title: </label>
        <select id="title" onchange="filterByTitle()">
            <option value="null">--Select Title--</option>
            {{#each title}}
                <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </section>
    <br><br>

    <p style="font-weight: bold">Selected movie data: </p>
    <section class="movie-data-section" style="border-bottom: 1px solid black">

    </section>
    <br><br>

    <p style="font-weight: bold">Insert new data:</p>
    <section id="izmena">
        <label for="inputTitle">Title: </label><input type="text" id="inputTitle" name="inputTitle"><br>
        <label for="inputGenre">Genre: </label><input type="text" id="inputGenre" name="inputGenre"><br>
        <label for="inputRunningTime">Running time: </label><input type="number" id="inputRunningTime" name="inputRunningTime" min="0" value="0">min<br>
        <label for="inputYearOfRelease">Year of release: </label><input type="number" id="inputYearOfRelease" name="inputYearOfRelease" min="0" value="0"><br>
        <hr>
        <label for="inputStarring">Starring: </label><input type="text" id="inputStarring"><button id="btnStarring">Add Actor</button><br>
        <div id="starringList"></div>
        <label for="inputDirectedBy">Directed by: </label><input type="text" id="inputDirectedBy"><button id="btnDirectedBy">Add Director</button><br>
        <div id="directedByList"></div>
        <label for="inputProducedBy">Produced by: </label><input type="text" id="inputProducedBy"><button id="btnProducedBy">Add Producer</button><br>
        <div id="producedByList"></div>
        <label for="inputWrittenBy">Written by: </label><input type="text" id="inputWrittenBy"><button id="btnWrittenBy">Add Writer</button><br>
        <div id="writtenByList"></div>
        <hr>
        <label for="inputProductionCompany">Production company: </label><input type="text" id="inputProductionCompany"><button id="btnProductionCompany">Add Production Company</button><br>
        <div id="productionCompanyList"></div>
        <label for="inputCountry">Country: </label><input type="text" id="inputCountry"><button id="btnCountry">Add Country</button><br>
        <div id="countryList"></div>
        <label for="inputLanguage">Language: </label><input type="text" id="inputLanguage" name="inputLanguage"><br>
        <label for="inputBudget">Budget: </label><input type="text" id="inputBudget" name="inputBudget"><br>
        <br><br>
        <button id="btnModifyMovie" onclick="modifyMovie()">Modify Movie</button>
        <button id="btnClear" onclick="clearAllFields()">CLEAR ALL FIELDS</button>
        <button id="btnRemoveMovie" onclick="removeMovie()">Remove Movie</button>
    </section>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        // Movie selection
        let movieData = document.querySelector(".movie-data-section");
        function displayMovieData(list) {
            movieData.innerHTML = "";
            let html = "";
            for(let item of list) {
                html += `
                    <div class="bg-primary movie-data-headers">
                        <div class="row">
                            <div class="col-md-4">Movie</div>
                            <div class="col-md-4">Cast & Crew</div>
                            <div class="col-md-4">Additional info</div>
                        </div>
                    </div>`;
                html += `<div class="bg-warning">
                        <div class="row">`;

                html += `<div class="bg-warning movie-data-details">
                        <div class="row movie-info">
                            <div class="col-md-2 movie">
                                <p><span class="bold">Title:</span> ${item.title}</p>
                                <p><span class="bold">Genre: </span>${item.genre}</p>
                                <p><span class="bold">Running time: </span>${item.runningTime} min</p>
                                <p><span class="bold">Year of release: </span>${item.yearOfRelease}</p>
                            </div>
                            <div class="col-md-5 cast-and-crew">
                                <p><span class="bold">Starring: </span>`;for(let el of item.starring){html+=`<span>${el}, </span>`} html+=`</p>
                                <p><span class="bold">Directed by: </span>`;for(let el of item.directedBy){html+=`<span>${el}, </span>`} html+=`</p>
                                <p><span class="bold">Produced by: </span>`;for(let el of item.producedBy){html+=`<span>${el}, </span>`} html+=`</p>
                                <p><span class="bold">Written by: </span>`;for(let el of item.writtenBy){html+=`<span>${el}, </span>`} html+=`</p>
                            </div>
                            <div class="col-md-5 additional-info">
                                <p><span class="bold">Production company: </span>`;for(let el of item.productionCompany){html+=`<span>${el}, </span>`} html+=` </p>
                                <p><span class="bold">Country: </span>`;for(let el of item.country){html+=`<span>${el}, </span>`} html+=`</p>
                                <p><span class="bold">Language: </span>${item.language}</p>
                                <p><span class="bold">Budget: </span>${item.budget}</p>
                            </div>
                        </div>
                        </div>`;

                html += `</div>
                    </div>`;
            }
            movieData.innerHTML = html;
        }
        function filterByTitle(){
            let element = document.querySelector("#title");
            $.ajax({
                url: "/api/filterTitle",
                method: "POST",
                data: {
                    "title": element.value
                },
                success: function(response) {
                    displayMovieData(JSON.parse(response));
                }
            });
            $('select').not('#title').prop('selectedIndex', 0);
        }

        // Modify movie
        let title = document.querySelector('#title');
        let inputTitle = document.querySelector('#inputTitle');
        let inputGenre = document.querySelector('#inputGenre');
        let inputRunningTime = document.querySelector('#inputRunningTime');
        let inputYearOfRelease = document.querySelector('#inputYearOfRelease');

        let inputStarring = document.querySelector('#inputStarring');
        let btnStarring = document.querySelector('#btnStarring');
        let inputDirectedBy = document.querySelector('#inputDirectedBy');
        let btnDirectedBy = document.querySelector('#btnDirectedBy');
        let inputProducedBy = document.querySelector('#inputProducedBy');
        let btnProducedBy = document.querySelector('#btnProducedBy');
        let inputWrittenBy = document.querySelector('#inputWrittenBy');
        let btnWrittenBy = document.querySelector('#btnWrittenBy');

        let inputProductionCompany = document.querySelector('#inputProductionCompany');
        let btnProductionCompany = document.querySelector('#btnProductionCompany');
        let inputCountry = document.querySelector('#inputCountry');
        let btnCountry = document.querySelector('#btnCountry');
        let inputLanguage = document.querySelector('#inputLanguage');
        let inputBudget = document.querySelector('#inputBudget');

        btnStarring.addEventListener('click', function () {
            document.querySelector('#starringList').innerHTML += `<p class="list-item"><button onclick="removeElement(this)">X</button><span class="starringListItem">${inputStarring.value}</span></p>`;
            inputStarring.value = "";
        });
        btnDirectedBy.addEventListener('click', function () {
            document.querySelector('#directedByList').innerHTML += `<p class="list-item"><button onclick="removeElement(this)">X</button><span class="directedByListItem">${inputDirectedBy.value}</span></p>`;
            inputDirectedBy.value = "";
        });
        btnProducedBy.addEventListener('click', function () {
            document.querySelector('#producedByList').innerHTML += `<p class="list-item"><button onclick="removeElement(this)">X</button><span class="producedByListItem">${inputProducedBy.value}</span></p>`;
            inputProducedBy.value = "";
        });
        btnWrittenBy.addEventListener('click', function () {
            document.querySelector('#writtenByList').innerHTML += `<p class="list-item"><button onclick="removeElement(this)">X</button><span class="writtenByListItem">${inputWrittenBy.value}</span></p>`;
            inputWrittenBy.value = "";
        });
        btnProductionCompany.addEventListener('click', function () {
            document.querySelector('#productionCompanyList').innerHTML += `<p class="list-item"><button onclick="removeElement(this)">X</button><span class="productionCompanyListItem">${inputProductionCompany.value}</span></p>`;
            inputProductionCompany.value = "";
        });
        btnCountry.addEventListener('click', function () {
            document.querySelector('#countryList').innerHTML += `<p class="list-item"><button onclick="removeElement(this)">X</button><span class="countryListItem">${inputCountry.value}</span></p>`;
            inputCountry.value = "";
        });

        function removeElement(el) {
            el.parentNode.outerHTML = "";
        }
        function makeArrayWithInnerHtml(array) {
            let newArray = [];
            for (let i = 0; i < array.length; i++){
                newArray.push(array[i].innerHTML);
            }
            return newArray;
        }

        function modifyMovie() {

            let starringArray = makeArrayWithInnerHtml(document.querySelectorAll('.starringListItem'));
            let directedByArray = makeArrayWithInnerHtml(document.querySelectorAll('.directedByListItem'));
            let producedByArray = makeArrayWithInnerHtml(document.querySelectorAll('.producedByListItem'));
            let writtenByArray = makeArrayWithInnerHtml(document.querySelectorAll('.writtenByListItem'));
            let productionCompanyArray = makeArrayWithInnerHtml(document.querySelectorAll('.productionCompanyListItem'));
            let countryArray = makeArrayWithInnerHtml(document.querySelectorAll('.countryListItem'));

            $.ajax({
                url: "/api/modifyMovie",
                method: "POST",
                data: {
                    "title": title.value,
                    "inputTitle": inputTitle.value,
                    "inputGenre": inputGenre.value,
                    "inputRunningTime": inputRunningTime.value,
                    "inputYearOfRelease": inputYearOfRelease.value,
                    "starringArray": JSON.stringify(starringArray),
                    "directedByArray": JSON.stringify(directedByArray),
                    "producedByArray": JSON.stringify(producedByArray),
                    "writtenByArray": JSON.stringify(writtenByArray),
                    "productionCompanyArray": JSON.stringify(productionCompanyArray),
                    "countryArray": JSON.stringify(countryArray),
                    "inputLanguage": inputLanguage.value,
                    "inputBudget": inputBudget.value
                },
                success:function(response) {
                    (title.value != "null") ? alert("Existing movie successfully modified.") : alert("Error! Select a movie!");
                    filterByTitle();
                }
            });

            document.querySelectorAll('input').value = "";
        }

        function removeMovie() {
            $.ajax({
                url: "/api/removeMovie",
                method: "POST",
                data: {
                    "title": title.value
                },
                success:function(response) {
                    (title.value != "null") ? alert("Movie successfully removed.") : alert("Error! Select a movie!");
                    filterByTitle();
                }
            });
        }
        function clearAllFields() {
            let input = document.querySelectorAll('input');
            let select = document.querySelectorAll('select');
            input.forEach(el => el.value = "");
            select.forEach(el => el.value = "");
            let lists = document.querySelectorAll('#starringList, #directedByList, #producedByList, #writtenByList, #productionCompanyList, #countryList');
            lists.forEach(el => el.innerHTML = '');
            filterByTitle();
        }

    </script>

</body>
</html>