#filter-section {
    display: flex;
    justify-content: flex-start;
}

.filter-section-left, .filter-section-right {
    display: flex;
    flex-direction: column;
    flex-basis: max-content;
    padding: 10px;
}

#filter-section .filter {
    width: max-content;
}

.movie-data-section {
    padding: 0 !important;
    width: 100vw !important;
}

.movie-data-headers {
    width: 100vw;
}

.movie-data-headers > .row {
    width: 100% !important;
    margin: 0 !important;
}

.movie-data-headers > .row > div {
    padding: 0 !important;
}

.movie-data-details {
    width: 100vw !important;
}

.movie-data-details:last-child .movie-info > div {
    border-bottom: 1px solid black;
}

.movie-info {
    position: relative;
    height: 200px;
    margin: 0 !important;
}

.movie-info > div {
    padding: 10px;
    position: relative;
    min-height: 100%;
    height: 100%;
    border: 1px solid black;
    border-width: 0px 1px;
}